<% if @timingzones.any? %>
<table class="table table-hover">
	<thead>
		    <tr>
		      <th>Country</th>
		      <th>State/Region</th>
		      <th>Local Time</th>
		      <th>DayLight Saving</th>
		    </tr>
		  </thead>
	<% @timingzones.each do |t| %>
		<tr>
			<td>
				<%= link_to t.country, "http://en.wikipedia.org/wiki/#{t.country}" %>
			</td>
			<td>
				<%=	link_to t.state, "http://en.wikipedia.org/wiki/#{t.state}" %>
			</td>
			<td>
				<%= Timezone::Zone.new(zone: t.zone_list).time Time.now %>
			</td>
			<td>
				<% if t.dst %>
					<%= image_tag "DST.jpg", :width => 25, :height => 12 %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
<% else %>
	<p> No timings scheduled </p>
<% end %>
<% if current_user %>
	<%= link_to 'Add', new_timingzone_path, class: 'btn btn-success' %>
<% end %>
